#root {
    max-width: 1280px;
    /* margin: 0 auto; */
    padding: 2px;
    justify-content: center;
    align-items: center;
}
body {
    background-color: rgb(38,116,90);
    justify-content: center;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

@font-face {
    font-family: Righteous;
    src: url(/Righteous-Regular.ttf);
}

img{
    height:20%;
    width: 10%;
    border-radius: 10%;
}

#main{
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#intro{
    font-family: Righteous;
    color: rgb(242,236,224);
    font-size: 300%;
    justify-content: center;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    
}

#para{
    font-family: Righteous;
    color: rgb(242,236,224);
    font-size: 200%;
    justify-content: center;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}