root{
    --radius:5px;
    --padding:10px;
}
@font-face {
    font-family: Righteous;
    src: url(/Righteous-Regular.ttf);
}
.container{
    margin-top:10%;
    font-family: Righteous;
    font-weight: 800;
    color: rgb(242,236,224);
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    height:150vh;
    
        

}

#content1{
    background:rgb(118, 188, 118);
    border-radius:var(--radius);
    padding-top: var(--padding);
    grid-area: content1;
    font-size:50px;
    text-transform:lowercase;

    grid-column:1/2;

    
}
#content2{
    background:rgb(62, 101, 62);
    border-radius:var(--radius);
    padding-top: var(--padding);
    grid-area: content2;
    font-size:12px;
    text-transform:none;
    
    grid-column:1/2;
    
}
#content3{
    background:rgb(182, 237, 182);
    border-radius:var(--radius);
    padding-top: var(--padding);
    grid-area: content3;
    font-size:12px;
    text-transform:none;

    grid-column:1/2;
}
#content4{
    background:rgb(58, 132, 58);
    border-radius:var(--radius);
    padding-top: var(--padding);
    grid-area: content4;
    font-size:12px;
    text-transform:none;

    grid-column:1/2;
    
}
#content5{
    background:rgb(160, 186, 160);
    border-radius:var(--radius);
    padding-top: var(--padding);
    grid-area: content5;
    font-size:12px;
    text-transform:none;

    grid-column:1/2;
}