root{
    --radius:5px;
    --padding:10px;
}
@font-face {
    font-family: Righteous;
    src: url(/Righteous-Regular.ttf);
}
.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: column wrap;
    
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding-top: 10%;
    margin: 0;
    list-style: none;
}

#contents1{
    font-family: Righteous;
    background:rgb(38,116,90);
    padding: 5px;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: rgb(242,236,224);
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2%;
    border-bottom-color:rgb(242,236,224);
    padding-bottom:5%;
    
}
.title-word {
    animation: color-animation 4s linear 1;
}
  
.title-word-1 {
    --color-6: rgb(148, 188, 167);
    --color-1: rgb(242,236,224);
    --color-2: rgb(242,236,224);
    --color-3: rgb(242,236,224);
    --color-4: rgb(242,236,224);
    --color-5: rgb(242,236,224);
    
}
  
.title-word-2 {
    --color-6: rgb(148, 188, 167);
    --color-1: rgb(148, 188, 167);
    --color-2: rgb(242,236,224);
    --color-3: rgb(242,236,224);
    --color-4: rgb(242,236,224);
    --color-5: rgb(242,236,224);
}
  
  .title-word-3 {
    --color-6: rgb(148, 188, 167);
    --color-1: rgb(148, 188, 167);
    --color-2: rgb(148, 188, 167);
    --color-3: rgb(242,236,224);
    --color-4: rgb(242,236,224);
    --color-5: rgb(242,236,224);
}
  
.title-word-4 {
    --color-6: rgb(148, 188, 167);
    --color-1: rgb(148, 188, 167);
    --color-2: rgb(148, 188, 167);
    --color-3: rgb(148, 188, 167);
    --color-4: rgb(242,236,224);
    --color-5: rgb(242,236,224);
}
.title-word-5 {
    --color-6: rgb(148, 188, 167);
    --color-1: rgb(148, 188, 167);
    --color-2: rgb(148, 188, 167);
    --color-3: rgb(148, 188, 167);
    --color-4: rgb(148, 188, 167);
    --color-5: rgb(242,236,224);
}
  
@keyframes color-animation {
    0%    {color: var(--color-6)}
    15%    {color: var(--color-6)}
    16%    {color: var(--color-1)}
    31%   {color: var(--color-1)}
    32%   {color: var(--color-2)}
    46%   {color: var(--color-2)}
    47%   {color: var(--color-3)}
    61%   {color: var(--color-3)}
    62%   {color: var(--color-4)}
    77%   {color: var(--color-4)}
    78%   {color: var(--color-5)}
    100%  {color: var(--color-5)}
}


#contents2{
    font-family: Righteous;
    background:rgb(38,116,90);
    padding: 5px;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    /* line-height: 150px; */
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 2%;
    border-bottom-color:rgb(242,236,224);
    
}
#titles2{
    font-family: Righteous;
    font-weight: bold;
    font-size: 2.0em;
    align-self: flex-start;
    padding-left: 7%;
    padding-top: 5%;
}

#subtitles2{
    font-family: Righteous;
    font-weight: bold;
    font-size: 1.5em;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 7%;
    
    /* top:0;
    left:0; */
    padding-bottom: 10%;
    width:100%;
    
}
.headshot-container::after {
    content: "";
    display: table;
    clear: both;
  }
.headshotimg{
    height:80%;
    width:auto;
    float:right;
    padding-right: 3.5%;
    padding-top: 3.5%;
    border-radius:40px;
}

#paras2{
    font-family: Righteous;
    font-weight: bold;
    font-size: 1.2em;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 7%;
    
    /* top:0;
    left:0; */
    padding-bottom: 10%;
    width:100%;
    float:left;
    
}


#contents3{
    font-family: Righteous;
    background:rgb(38,116,90);
    padding: 5px;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    /* line-height: 150px; */
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 2%;
    border-bottom-color:rgb(242,236,224);
}
#titles3{
    font-family: Righteous;
    font-weight: bold;
    font-size: 2.0em;
    align-self: flex-start;
    padding-left: 5%;
    padding-right: 2.5%;
    padding-top: 3%;
}
#subtitles3{
    font-family: Righteous;
    font-weight: bold;
    font-size: 1.5em;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 5%;
    
    /* top:0;
    left:0; */
    /* padding-bottom: 10%; */
    
}
#paras3{
    font-family: Righteous;
    font-weight: bold;
    font-size: 1.2em;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 5%;
    
    /* top:0;
    left:0; */
    padding-bottom: 10%;
    width:100%;
    float:left;

}

#contents4{
    font-family: Righteous;
    background:rgb(38,116,90);
    padding: 5px;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    /* line-height: 150px; */
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 2%;
    border-bottom-color:rgb(242,236,224);
}
#titles4{
    font-family: Righteous;
    font-weight: bold;
    font-size: 2.0em;
    align-self: flex-start;
    padding-left: 5%;
    padding-right: 2.5%;
    padding-top: 3%;
}
#subtitles4{
    font-family: Righteous;
    font-weight: bold;
    font-size: 1.5em;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 5%;
    
    /* top:0;
    left:0; */
    /* padding-bottom: 10%; */
    
}
#paras4{
    font-family: Righteous;
    font-weight: bold;
    font-size: 1.2em;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 5%;
    
    /* top:0;
    left:0; */
    padding-bottom: 10%;
    width:100%;
    float:left;

}

#contents5{
    font-family: Righteous;
    background:rgb(38,116,90);
    padding: 5px;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    /* line-height: 150px; */
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 2%;
    border-bottom-color:rgb(242,236,224);
    
}
#titles5{
    font-family: Righteous;
    font-weight: bold;
    font-size: 2.0em;
    align-self: flex-start;
    padding-left: 7%;
    padding-top: 5%;
}
#subtitles5{
    font-family: Righteous;
    font-weight: bold;
    font-size: 1.5em;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 7%;
    
    /* top:0;
    left:0; */
    padding-bottom: 10%;
    width:100%;
    
}
#paras5{
    font-family: Righteous;
    font-weight: bold;
    font-size: 1.2em;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 7%;
    
    /* top:0;
    left:0; */
    padding-bottom: 10%;
    width:100%;
    float:left;
    
}

#contents6{
    font-family: Righteous;
    background:rgb(38,116,90);
    padding: 5px;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    /* line-height: 150px; */
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 2%;
    border-bottom-color:rgb(242,236,224);
    
}
#titles6{
    font-family: Righteous;
    font-weight: bold;
    font-size: 2.0em;
    align-self: flex-start;
    padding-left: 7%;
    padding-top: 5%;
}

#subtitles6{
    font-family: Righteous;
    font-weight: bold;
    font-size: 1.5em;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 7%;
    
    /* top:0;
    left:0; */
    padding-bottom: 10%;
    width:100%;
    
}

#paras6{
    font-family: Righteous;
    font-weight: bold;
    font-size: 1.2em;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 7%;
    
    /* top:0;
    left:0; */
    padding-bottom: 10%;
    width:100%;
    float:left;
    
}

