#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}
body {
    background-color: rgb(255, 152, 183);
}

@font-face {
    font-family: Aladin;
    src: url(/Aladin-Regular.ttf);
}
  
#content{
    font: Aladin;
    text-align: center;
    color: rgb(255, 50, 111);
}