#root {
    max-width: 1280px;
}
body {
    background-color: rgb(38,116,90);
}

@font-face {
    font-family: Righteous;
    src: url(/Righteous-Regular.ttf);
}
  
#content{
    font: Righteous;
    color: rgb(242,236,224);
}