@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Pacifico&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: rgb(224, 175, 203);
}
h1{
  background-color: rgb(198, 123, 166);
}

@font-face {
  font-family: Raleway;
  src: URL(../public/Raleway-Regular.ttf);

  font-family: EBGaramond;
  src: URL(../public/EBGaramond-Regular.ttf);

  font-family: Pacifico;
  src: URL(../public/Pacifico-Regular.ttf);

}
#Name{
  text-shadow: 1px 1px 2px black;
  font-family: 'EB Garamond', serif;
  font-size: 50px;
  color: rgb(231, 31, 145);
}
#Student{
  font-family: Raleway;
  font-size: 14px;
  color: rgb(165, 42, 118);
}
#Studying{
  font-family: Raleway;
  font-size: 12px;
  color: rgb(231, 31, 181);
}