#root {
  max-width: 1280px;
}
/*
body{
  background-color: rgb(242,236,224);
  justify-content: center;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}*/

@font-face {
  font-family: YatraOne;
  src: url(/YatraOne-Regular.ttf);

  font-family: Paytone;
  src: url(/PaytoneOne-Regular.ttf);

  font-family: Righteous;
  src: url(/Righteous-Regular.ttf);

}

/*
#content{
  font-family: Righteous;
  width: 100%;
  color: rgb(38,116,90);

}
*/

/*@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Pacifico&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  background-color: rgb(198, 123, 166);
}

@font-face {
  font-family: Raleway;
  src: URL(../public/Raleway-Regular.ttf);

  font-family: EBGaramond;
  src: URL(../public/EBGaramond-Regular.ttf);

  font-family: Pacifico;
  src: URL(../public/Pacifico-Regular.ttf);

}
#Header{
  text-shadow: 1px 1px 2px black;
  font-family: 'EB Garamond', serif;
  font-size: 50px;
  color: rgb(231, 31, 145);
}
#Subheader{
  font-family: Raleway;
  font-size: 14px;
  color: rgb(165, 42, 118);
}
#Paragraph{
  font-family: Raleway;
  font-size: 12px;
  color: rgb(231, 31, 181);
} */