nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(38,116,90);
    height: 10%;
    width: 100%;
    z-index: 9999;
    animation: gradient_anim 23s ease infinite;
    background-size: 200%; /* Ensure the background covers the entire linear gradient */
    border-bottom-style: solid;
    border-bottom-width: 2%;
    border-bottom-color:rgb(242,236,224);
}


@keyframes gradient_anim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@font-face {
    font-family: YatraOne;
    src: url(/YatraOne-Regular.ttf);

    font-family: Bagel;
    src: url(/BagelFatOne-Regular.ttf);

    font-family: Paytone;
    src: url(/PaytoneOne-Regular.ttf);

    font-family: Righteous;
    src: url(/Righteous-Regular.ttf);

}
#name{
    margin-left: 30px;
    font-family: Righteous;
    font-size: 40px;
    color: rgb(242,236,224);
}
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 30px; */
}

#navbar li{
    list-style: none;
    padding: 0 15px;
    position: relative;
    right: 10%;
}

#navbar li a{
    text-decoration:none;
    font-size: 1.8rem;
    font-weight: 100;
    color: rgb(242,236,224);
    font-family: Righteous;
    transition: 0.3s ease-in-out;
    
    
}

#navbar li a:hover{
    color: rgb(148, 188, 167);
}

#navbar li a:hover::after{
    content:"";
    width: 30%;
    height: 2px;
    background: rgb(148, 188, 167);
    position:absolute;
    bottom: -4px;
    left: 20px;
}