nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    top: 0;
    position: flex;
    background: rgb(255, 92, 190);
    height: 10%;
    width: 100%;
    z-index: 9999;
    animation: gradient_anim 23s ease infinite;
    background-size: 200%; /* Ensure the background covers the entire linear gradient */
}


@keyframes gradient_anim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@font-face {
    font-family: YatraOne;
    src: url(/YatraOne-Regular.ttf);

}
#name{
    margin-left: 30px;
    font-family: YatraOne;
    font-size: 40px;
    color: rgb(252, 179, 216);
}
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

#navbar li{
    list-style: none;
    padding: 0 15px;
    position: relative;
}

#navbar li a{
    text-decoration:none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffc5da;
    font-family: YatraOne;
    transition: 0.3s ease-in-out;
    
}

#navbar li a:hover{
    color: #ff8ab9
}

#navbar li a:hover::after{
    content:"";
    width: 30%;
    height: 2px;
    background: #ff72b6;
    position:absolute;
    bottom: -4px;
    left: 20px;
}